:root {
  --color-primary: #27374e;
  --color-primary-lighten: #123b5d;
  --color-primary-lighter: #3c4e64;
  --color-secondary: #be946a;
  --color-accent: #b5a49c;
  --color-background: #aea49b;
  --color-lightest: #d6d5d0;
}
